@media screen and (min-width:1880px) {
    body {
        background: #FAFAFA 0% 0% no-repeat padding-box;
    }

    #imgSearchIcon{
        width: 50px;
        padding: 10px;
        margin-left: 20px;
    }
    #txtSearch{
        width: 1300px;
        padding: 10px;
        border: none;
    }
    #imgNotification{
        padding: 10px;
    }
    #imgAvatar{
        width: 50px;
        padding: 5px;
    }
    #txtProfileName{
        width: fit-content;
        padding: 10px;
    }
    #imgDownwardArrow{
        position: relative;
        margin-top: 10px;
        margin-left: -10px;
    }

    #sidebar {
        width: 10%;
        height: 100%;
        padding-top: 1%;
        left: 0;
        float: left;
    }

    .SidebarItems {
        margin-left: 20px;
        margin-top: 15px;
        font: normal normal normal 15px/21px Roboto;
        color: #3E3E3E;
    }

    .SidebarItems:hover {
        background-color: #FFF3F4;
        color: #C8242F;
    }

    .items {
        width: 35px;
        height: 35px;
        left: 0;
        margin-left: 20%;
    }

    #dashboard {
        width: 85%;
        height: 100%;
        margin-left: 14%;
        background: #FAFAFA 0% 0% no-repeat padding-box;
        padding: 50px;
    }

    .productitem {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 5px;
        width: 17%;
        float: left;
        margin-left: 2%;
    }

    .productimg {
        width: 45px;
        height: 45px;
        float: left;
        margin-left: 10px;
        margin-top: 30px;
    }

    .productsquantity {
        width: 100px;
        height: 30px;
        font: normal normal medium 25px/33px Roboto;
        color: #3E3E3E;
        float: left;
        margin-top: 10px;
        margin-left: 10%;
    }

    .productdesc {
        width: 100px;
        height: 50px;
        font: normal normal normal 20px/20px Roboto;
        color: #3E3E3E;
        float: left;
        text-align: center;
        margin-left: 60px;
    }

    #Salegraph {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-top: 5%;
        width: 65%;
        height: 55%;
        float: left;
    }

    .salegraph-heading {
        width: fit-content;
        height: 29px;
        font: normal normal medium 22px/29px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        margin-left: 3%;
        margin-top: 1%;
    }

    #weekly {
        margin-top: -1%;
        margin-left: 80%;
        width: 108px;
        height: 16px;
        font: normal normal normal 14px/16px Roboto;
        color: #ADADAD;
    }

    #monthly {
        width: 108px;
        height: 16px;
        font: normal normal normal 14px/16px Roboto;
        color: #ADADAD;
        margin-left: 2%;
    }

    #yearly {
        height: 16px;
        font: normal normal normal 14px/16px Roboto;
        color: #C8242F;
        border-bottom: solid 2px;
        width: 108px;
        margin-left: 2%;
    }

    #salegraphimg {
        margin-top: 5%;
        width: 92%;
        margin-left: 5%;
    }

    #PieGraph {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-top: 5%;
        width: 33%;
        margin-left: 2%;
        height: 485px;
        float: left;
    }

    #salecountrygraph-heading {
        width: fit-content;
        font: normal normal medium 22px/29px Roboto;
        margin-top: 50%;
        color: #3E3E3E;
    }

    #piechart {
        width: 60%;
        height: 60%;
        margin-left: 20%;
    }

    #usa {
        background-color: #C8242F;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #canada {
        background-color: #A2B86C;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #russia {
        background-color: #F16C20;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #india {
        background-color: #EBC844;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #country-table {
        margin-left: 20%;
    }

    .country-names {
        width: 500px;
        text-align:left ;
        font: normal normal normal 15px/20px Roboto;
    }

    .invoice {
        display: inline-block;
        background-color: #FFFFFF;
        margin-top: 5%;
        width: 100%;
        height: fit-content;
    }

    #invoice-title {
        width: 82px;
        height: 29px;
        font-size: 1.5em;
        font-weight: bolder;
        font: normal normal medium 22px/29px Roboto;
        color: #3E3E3E;
        margin: 1%;
    }

    #viewall {
        width: 43px;
        height: 16px;
        font: normal normal normal 12px/16px Roboto;
        margin-left: 85%;
        color: #C8242F;
    }

    .table-heading {
        width: 66px;
        height: 20px;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 1.5px;
        color: #ADADAD;
    }

    .status {
        width: 50px;
        height: 26px;
        text-align: center;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3CDD5F;
        background: #EBFFEF 0% 0% no-repeat padding-box;
        border-radius: 5px;
    }

    .statusf {
        width: 40px;
        height: 20px;
        text-align: center;
        font: normal normal normal 15px/20px Roboto;
        color: #FF4545;
    }

    .statusp {
        width: 75px;
        height: 26px;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border-radius: 5px;
        font: normal normal normal 15px/20px Roboto;
        color: #BABABA;
    }
}

@media screen and (min-width:1440px) and (max-width:1879px) {
    body {
        background: #FAFAFA 0% 0% no-repeat padding-box;
    }

    #imgSearchIcon{
        width: 50px;
        padding: 10px;
        margin-left: 20px;
    }
    #txtSearch{
        width: 850px;
        padding: 10px;
        border: none;
    }
    #imgNotification{
        padding: 10px;
    }
    #imgAvatar{
        width: 50px;
        padding: 5px;
    }
    #txtProfileName{
        width: fit-content;
        padding: 10px;
    }
    #imgDownwardArrow{
        position: relative;
        margin-top: 10px;
        margin-left: -10px;
    
    }

    #sidebar {
        width: 10%;
        height: 100%;
        padding-top: 1%;
        left: 0;
    }

    .SidebarItems {
        margin-left: 20px;
        margin-top: 15px;
        font: normal normal normal 15px/21px Roboto;
        color: #3E3E3E;
    }

    .SidebarItems:hover {
        background-color: #FFF3F4;
        color: #C8242F;
    }

    .items {
        width: 25px;
        height: 25px;
        left: 0;
        margin-left: 0;
    }

    #dashboard {
        width: 85%;
        height: 100%;
        margin-left: 14%;
        background: #FAFAFA 0% 0% no-repeat padding-box;
        padding: 50px;
        margin-top: -20%;
    }

    .productitem {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 5px;
        width: 17%;
        float: left;
        margin-left: 2%;
    }

    .productimg {
        width: 45px;
        height: 120px;
        float: left;
        /* margin-left: 30px; */
        align-items: center;
    }

    .productsquantity {
        width: 100px;
        height: 30px;
        font: normal normal medium 25px/33px Roboto;
        color: #3E3E3E;
        float: left;
        margin-top: 20px;
        margin-left: 10px;
    }

    .productdesc {
        width: 10px;
        height: 10px;
        font: normal normal normal 15px/20px Roboto;
        color: #3E3E3E;
        position: absolute;
        margin-left: 60px;
        margin-top: 60px;
    }

    #Salegraph {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-top: 5%;
        width: 65%;
        height: 55%;
        float: left;
    }

    .salegraph-heading {
        width: fit-content;
        height: 29px;
        font: normal normal medium 22px/29px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        margin-left: 3%;
        margin-top: 1%;
    }

    #weekly {
        margin-top: -1%;
        margin-left: 80%;
        width: 108px;
        height: 16px;
        font: normal normal normal 12px/16px Roboto;
        color: #ADADAD;
    }

    #monthly {
        width: 108px;
        height: 16px;
        font: normal normal normal 12px/16px Roboto;
        color: #ADADAD;
        /* margin-left: 2%; */
    }

    #yearly {
        height: 16px;
        font: normal normal normal 12px/16px Roboto;
        color: #C8242F;
        border-bottom: solid 2px;
        width: 108px;
        /* margin-left: 3%; */
    }

    #salegraphimg {
        margin-top: 5%;
        width: 92%;
        margin-left: 5%;
    }

    #PieGraph {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-top: 5%;
        width: 33%;
        margin-left: 2%;
        height: 375px;
        float: left;
    }

    #salecountrygraph-heading {
        width: fit-content;
        font: normal normal medium 22px/29px Roboto;
        margin-top: 50%;
        color: #3E3E3E;
    }

    #piechart {
        width: 70%;
        height: 70%;
        margin-left: 15%;
    }

    #usa {
        background-color: #C8242F;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #canada {
        background-color: #A2B86C;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #russia {
        background-color: #F16C20;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #india {
        background-color: #EBC844;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #country-table {
        margin-left: 20%;
    }

    .country-names {
        width: 500px;
        font: normal normal normal 15px/20px Roboto;
        padding: 5px;
    }


    .invoice {
        display: inline-block;
        background-color: #FFFFFF;
        margin-top: 5%;
        width: 100%;
        height: fit-content;
    }

    #invoice-title {
        width: 82px;
        height: 29px;
        font-size: 1.5em;
        font-weight: bolder;
        font: normal normal medium 22px/29px Roboto;
        color: #3E3E3E;
        margin: 1%;
    }

    #viewall {
        width: 43px;
        height: 16px;
        font: normal normal normal 12px/16px Roboto;
        margin-left: 85%;
        color: #C8242F;
    }

    .table-heading {
        width: 66px;
        height: 20px;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 1.5px;
        color: #ADADAD;
    }

    .status {
        width: 50px;
        height: 26px;
        text-align: center;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3CDD5F;
        background: #EBFFEF 0% 0% no-repeat padding-box;
        border-radius: 5px;
    }

    .statusf {
        width: 40px;
        height: 20px;
        text-align: center;
        font: normal normal normal 15px/20px Roboto;
        color: #FF4545;
    }

    .statusp {
        width: 75px;
        height: 26px;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border-radius: 5px;
        font: normal normal normal 15px/20px Roboto;
        color: #BABABA;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    body {
        background: #FAFAFA 0% 0% no-repeat padding-box;
    }

    #imgLogo{
        width: 200px;
    }
    
    #imgSearchIcon{
        width: 50px;
        padding: 10px;
        margin-left: 20px;
    }
    #txtSearch{
        width: 500px;
        padding: 10px;
        border: none;
    }
    #imgNotification{
        padding: 10px;
    }
    #imgAvatar{
        width: 50px;
        padding: 5px;
    }
    #txtProfileName{
        width: fit-content;
        padding: 10px;
    }
    #imgDownwardArrow{
        position: relative;
        margin-top: 10px;
        margin-left: -10px;
    
    }

    #sidebar {
        width: 15%;
        height: 100%;
        padding-top: 1%;
    }

    .SidebarItems {
        margin-left: 20px;
        margin-top: 15px;
        font: normal normal normal 15px/21px Roboto;
        color: #3E3E3E;
    }

    .SidebarItems:hover {
        background-color: #FFF3F4;
        color: #C8242F;
    }

    .items {
        width: 25px;
        height: 25px; 
        margin-left: 0;
    }

    #dashboard {
        width: 85%;
        height: 100px;
        margin-left: 14%;
        background: #FAFAFA 0% 0% no-repeat padding-box;
        padding: 50px;
        margin-top: -30%;
    }

    .productitem {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 5px;
        padding: 50px;
        width: 100%;
        margin: 8%;
    }

    .productimg {
        width: 25px;
        height: 25px;
        float: left;
        margin-top: 15px;
    }

    .productsquantity {
        width: 10px;
        height: 20px;
        float: left;
        margin-left: 10%;
        font-size: 20px;
        color: #3E3E3E;
    }

    .productdesc {
        width: 10px;
        height: 50px;
        margin-left: 35px;
        font: normal normal normal 15px/20px Roboto;
        color: #3E3E3E;
    }

    #Salegraph {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-top: 5%;
        width: 65%;
        height: 55%;
        float: left;
    }

    .salegraph-heading {
        width: fit-content;
        height: 29px;
        font: normal normal medium 22px/29px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        margin-left: 3%;
        margin-top: 1%;
    }

    #weekly {
        margin-top: -1%;
        margin-left: 75%;
        width: 108px;
        height: 16px;
        font: normal normal normal 10px/16px Roboto;
        color: #ADADAD;
    }

    #monthly {
        width: 108px;
        height: 16px;
        font: normal normal normal 10px/16px Roboto;
        color: #ADADAD;
    }

    #yearly {
        height: 16px;
        font: normal normal normal 10px/16px Roboto;
        color: #C8242F;
        border-bottom: solid 2px;
    }

    #salegraphimg {
        margin-top: 5%;
        width: 92%;
        margin-left: 5%;
    }

    #PieGraph {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-top: 5%;
        width: 33%;
        margin-left: 2%;
        height: 375px;
        float: left;
    }

    #salecountrygraph-heading {
        width: fit-content;
        font: normal normal medium 22px/29px Roboto;
        margin-top: 50%;
        color: #3E3E3E;
    }

    #piechart {
        width: 50%;
        height: 50%;
        margin-left: 15%;
    }

    #usa {
        background-color: #C8242F;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #canada {
        background-color: #A2B86C;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #russia {
        background-color: #F16C20;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #india {
        background-color: #EBC844;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #country-table {
        margin-left: 5%;
    }

    .country-names {
        width: 500px;
        font: normal normal normal 15px/20px Roboto;
        padding: 5px;
    }


    .invoice {
        display: inline-block;
        background-color: #FFFFFF;
        margin-top: 5%;
        width: 100%;
        height: fit-content;
    }

    #invoice-title {
        width: 82px;
        height: 29px;
        font-size: 1.5em;
        font-weight: bolder;
        font: normal normal medium 22px/29px Roboto;
        color: #3E3E3E;
        margin: 1%;
    }

    #viewall {
        width: 43px;
        height: 16px;
        font: normal normal normal 12px/16px Roboto;
        margin-left: 85%;
        color: #C8242F;
    }

    .table-heading {
        width: 66px;
        height: 20px;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 1.5px;
        color: #ADADAD;
    }

    .status {
        width: 50px;
        height: 26px;
        text-align: center;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3CDD5F;
        background: #EBFFEF 0% 0% no-repeat padding-box;
        border-radius: 5px;
    }

    .statusf {
        width: 40px;
        height: 20px;
        text-align: center;
        font: normal normal normal 15px/20px Roboto;
        color: #FF4545;
    }

    .statusp {
        width: 75px;
        height: 26px;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border-radius: 5px;
        font: normal normal normal 15px/20px Roboto;
        color: #BABABA;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    body {
        background: #FAFAFA 0% 0% no-repeat padding-box;
    }
    
    #imgLogo{
        width: 150px;
    }
    
    #sidebar {
        width: 20%;
        height: 100%;
        padding-top: 1%;
    }

    .SidebarItems {
        margin-left: 20px;
        margin-top: 15px;
        font: normal normal normal 15px/21px Roboto;
        color: #3E3E3E;
    }

    .SidebarItems:hover {
        background-color: #FFF3F4;
        color: #C8242F;
    }

    .items {
        width: 25px;
        height: 25px; 
        margin-left: 0;
    }

    #dashboard {
        width: 85%;
        height: 100px;
        margin-left: 14%;
        background: #FAFAFA 0% 0% no-repeat padding-box;
        padding: 50px;
        margin-top: -40%;
    }

    .productitem {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 5px;
        padding: 50px;
        width: 100%;
        margin: 8%;
    }

    .productimg {
        width: 25px;
        height: 25px;
        float: left;
        margin-top: 15px;
    }

    .productsquantity {
        width: 10px;
        height: 20px;
        float: left;
        margin-left: 10%;
        font-size: 20px;
        color: #3E3E3E;
    }

    .productdesc {
        width: 10px;
        height: 50px;
        margin-left: 35px;
        font: normal normal normal 15px/20px Roboto;
        color: #3E3E3E;
    }

    #Salegraph {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-top: 5%;
        width: 65%;
        height: 55%;
        /* float: left; */
    }

    .salegraph-heading {
        width: fit-content;
        height: 29px;
        font: normal normal medium 22px/29px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        margin-left: 3%;
        margin-top: 1%;
    }

    #weekly {
        top: 0;
        margin-left: 65%;
        width: 108px;
        height: 16px;
        font: normal normal normal 10px Roboto;
        color: #ADADAD;
    }

    #monthly {
        width: 108px;
        height: 16px;
        font: normal normal normal 10px Roboto;
        color: #ADADAD;
    }

    #yearly {
        height: 16px;
        font: normal normal normal 10px/16px Roboto;
        color: #C8242F;
        border-bottom: solid 2px;
    }

    #salegraphimg {
        margin-top: 5%;
        width: 92%;
        margin-left: 5%;
        height: 150px;
    }

    #PieGraph {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        width: 40%;
        margin-left: 80%;
        height: 250px;
        /* float: left; */
    }

    #salecountrygraph-heading {
        width: fit-content;
        font: normal normal medium 15px Roboto;
        color: #3E3E3E;
    }

    #piechart {
        width: 50%;
        height: 50%;
        margin-left: 25%;
    }

    #usa {
        background-color: #C8242F;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #canada {
        background-color: #A2B86C;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #russia {
        background-color: #F16C20;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #india {
        background-color: #EBC844;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #country-table {
        margin-left: 5%;
        /* margin-top: -30%; */
    }

    .country-names {
        width: 500px;
        font: normal normal normal 12px/20px Roboto;
        /* padding: 5px; */
    }


    .invoice {
        display: inline-block;
        background-color: #FFFFFF;
        margin-top: 5%;
        width: 100%;
        height: fit-content;
    }

    #invoice-title {
        width: 82px;
        height: 29px;
        font-size: 1.5em;
        font-weight: bolder;
        font: normal normal medium 22px/29px Roboto;
        color: #3E3E3E;
        margin: 1%;
    }

    #viewall {
        width: 43px;
        height: 16px;
        font: normal normal normal 12px/16px Roboto;
        margin-left: 85%;
        color: #C8242F;
    }

    .table-heading {
        width: 66px;
        height: 20px;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 1.5px;
        color: #ADADAD;
    }

    .status {
        width: 50px;
        height: 26px;
        text-align: center;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3CDD5F;
        background: #EBFFEF 0% 0% no-repeat padding-box;
        border-radius: 5px;
    }

    .statusf {
        width: 40px;
        height: 20px;
        text-align: center;
        font: normal normal normal 15px/20px Roboto;
        color: #FF4545;
    }

    .statusp {
        width: 75px;
        height: 26px;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border-radius: 5px;
        font: normal normal normal 15px/20px Roboto;
        color: #BABABA;
    }
}

@media screen and (min-width:360px) and (max-width:767px) {
    body {
        background: #FAFAFA 0% 0% no-repeat padding-box;
    }
    #imgLogo {
        width: 150px;
    }

    #sidebar {
        width: 25%;
        height: 100%;
        float: left;
        padding: 10px;
    }

    .SidebarItems {
        padding-top: 10px;
        padding-left: 10px;
        font: normal normal normal 15px/21px Roboto;
        color: #3E3E3E;
    }

    .SidebarItems:hover {
        background-color: #FFF3F4;
        color: #C8242F;
    }

    .items {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

    #dashboard {
        width: 80%;
        height: 100px;
        padding-left: 30%;
        padding-top: 15%;
        background: #FAFAFA 0% 0% no-repeat padding-box;
        /* padding: 20px; */
    }

    .productitem {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        padding: 20px;
    }

    .productimg {
        width: 25px;
        height: 25px;
        float: left;
        margin-top: 15px;
    }

    .productsquantity {
        width: 10px;
        height: 20px;
        float: left;
        margin-left: 10%;
        font-size: 20px;
        color: #3E3E3E;
    }

    .productdesc {
        width: 10px;
        height: 50px;
        margin-left: 45px;
        font: normal normal normal 15px/20px Roboto;
        color: #3E3E3E;
    }

    #Salegraph {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-top: 5%;
        width: fit-content;
        height: fit-content;
        display: inline-block;
    }

    .salegraph-heading {
        width: fit-content;
        height: 29px;
        font: normal normal medium 22px/29px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        margin-left: 3%;
        margin-top: 1%;
    }

    #weekly {
        margin-left: 53%;
        width: 108px;
        height: 16px;
        font: normal normal normal 10px Roboto;
        color: #ADADAD;
    }

    #monthly {
        width: 108px;
        height: 16px;
        font: normal normal normal 10px Roboto;
        color: #ADADAD;
    }

    #yearly {
        height: 16px;
        font: normal normal normal 10px/16px Roboto;
        color: #C8242F;
        border-bottom: solid 2px;
    }

    #salegraphimg {
        margin-top: 5%;
        width: 220px;
        margin-left: 5%;
        height: 200px;
    }

    #PieGraph {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        width: 40%;
        height: fit-content;
        margin-top: 20%;
    }

    #salecountrygraph-heading {
        width: fit-content;
        font: normal normal medium 10px Roboto;
        color: #3E3E3E;
    }

    #piechart {
        width: 200px;
        height: 200px;
    }

    #usa {
        background-color: #C8242F;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #canada {
        background-color: #A2B86C;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #russia {
        background-color: #F16C20;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #india {
        background-color: #EBC844;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #country-table {
        margin-left: 50%;
    }

    .country-names { 
        font: normal normal normal 10px Roboto;
        
    }


    .invoice {
        background-color: #FFFFFF;
        margin-top: 5%;
        width: 100%;
        height: fit-content;
        margin-top: 40px;
    }

    #invoice-title {
        width: 82px;
        height: 29px;
        font-size: 1.5em;
        font-weight: bolder;
        font: normal normal medium 22px/29px Roboto;
        color: #3E3E3E;
    }

    #viewall {
        width: 43px;
        height: 16px;
        font: normal normal normal 12px/16px Roboto;
        margin-left: 25%;
        color: #C8242F;
    }

    .table-heading {
        width: 66px;
        height: 20px;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 1.5px;
        color: #ADADAD;
    }

    .status {
        width: 50px;
        height: 26px;
        text-align: center;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3CDD5F;
        background: #EBFFEF 0% 0% no-repeat padding-box;
        border-radius: 5px;
    }

    .statusf {
        width: 40px;
        height: 20px;
        text-align: center;
        font: normal normal normal 15px/20px Roboto;
        color: #FF4545;
    }

    .statusp {
        width: 75px;
        height: 26px;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border-radius: 5px;
        font: normal normal normal 15px/20px Roboto;
        color: #BABABA;
    }
}